<h1>creepr main page<h1>

<div>
<a href='/photos/new'>Add a photo</a>
</div>
<div>
<a href='/photos/:id'>Clickable PHOTOS in the end</a>
</div>
<div>
<a href='/photos/tag/:id'>Tag Specific Page!</a>
</div>


<% @photos.each do |photo| %>
	<a href='/photos/<%= photo.id %>'><img src="uploads/<%= photo.filename%>"/></a>
<% end %>
	