<h1>creepr main page<h1>

<div>
<a href='/photos/new'>Add a photo</a>
</div>
<div>
<a href='/photos/tag/:id'>Tag Specific Page!</a>
</div>

<form method="get" action="/photos/tag">
	Enter tags here separated by ','
  <input type="text" name="tags" required>
  <input type="submit" value="filter" >
</form>

<%@tags && @tags.each do |tag|%>
<%= tag.name %>
<% end %>
>>>>>>> multitagging
<p>

	<% @photos.each do |photo| %>
		
		<a href='/photos/<%= photo.id %>'><img src="/uploads/<%= photo.filename%>" width="100" height="100"/></a>
	<% end %>
</p>