Add a photo page
<a href="/photos"> Back </a>

<% if @error %>
	<p> That was not an image file! only .jpg .png .gif .bng extensions allowed </p>
<% end %>

<!-- Post a photo form -->
<form method="post" action="/photos" enctype='multipart/form-data' runat="server" onsubmit="return checkSize(2097152)">

  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>photo:</label>
    <input type="file" name="photo" id="imgInp"  accept=".jpg,.gif,.png" required> 
    <img id="blah" src="#" alt="your image" width="100" height="100"/>
  </div>


  <div>
    <label>Tag(s), separate by ',':</label>
    <input type="text" name="tags" >
  </div>

  <div>
    <input type="submit" value="Upload" >
  </div>
</form>





<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAb7euE06VgQhEbFwPExmEzZUVjxy70uPk&q=Vancouver">
</iframe>