Add a photo page

<!-- Post a photo form -->
<form method="post" action="/photos" enctype='multipart/form-data' >

  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>photo:</label>
    <input type="file" name="photo" > 
  </div>


  <div>
    <label>Tag(s):</label>
    <input type="text" name="tags" >
  </div>

  <div>
    <input type="submit" value="Submit" >
  </div>
</form>

