
Add a photo page
<a href="/photos"> Back </a>

<% if @error %>
	<p> That was not an image file! only .jpg .png .gif .bng extensions allowed </p>
<% end %>


<form method="post" action="/photos" enctype='multipart/form-data' runat="server" onsubmit="return checkSize(2097152)">
  <div class="row" style='padding: 25px;'>
    <div class="col-md-6 col-xs-12">
      <label>Title:</label>
      <input type="text" name="title"class="form-control">
    </div>
    <div class="col-md-6 col-xs-12">
      <label>Tag(s) seperate by ',' : </label>
        <input type="text" name="tags" class="form-control">
    </div>
  </div>
  <div class='col-md-6 col-sm-8 col-xs-12' style='margin-left:25px' >
   <label>photo:</label>
    <input type="file" name="photo" id="imgInp"  accept=".jpg,.gif,.png" required> 
    <img id="blah" src="" width="300" height="300" style='margin-top: 10px'/>
    <button type='submit'  class="btn btn-primary btn-lg">GET YOUR CREEP ON</button>
  </div>
</form>

<!-- Post a photo form -->
<!-- <form method="post" action="/photos" enctype='multipart/form-data' runat="server" onsubmit="return checkSize(2097152)"> -->

<!--   <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>

  <div>
    <label>photo:</label>
    <input type="file" name="photo" id="imgInp"  accept=".jpg,.gif,.png" required> 
    <img id="blah" src="" width="100" height="100"/>
  </div>


  <div>
    <label>Tag(s), separate by ',':</label>
    <input type="text" name="tags" >
  </div>

  <div>
    <input type="submit" value="Upload" >
  </div>
</form>

 -->