SHOW PHOTO PAGE
<h1><%= @photo.title %></h1>

<p>
  <img src ="/uploads/<%=@photo.filename%>"/>
</p>

<p>
  Tags: tags go here...
  <%= Tag.find(@photo.tag_id).name %>
</p>



<!-- #@photos.photo_url  -->
