<!-- <h1><= @photos.photo_title %></h1> -->

<p>
  <img src ="http://2.bp.blogspot.com/-D22ZeMYGaXU/UTphdOqJJ_I/AAAAAAAABNs/W55eNYZBkj0/s640/ZvhPuqL.jpg"/>
</p>

<p>
  Tags: tags go here...
</p>



<!-- #@photos.photo_url  -->