

<% if session[:user_id] %>
  oops, <%=User.find(session[:user_id])[:username] %>
<a href="/logout">Logout</a>
<% else %>
  <h1>Log in here!</h1>
  <% if @error %>
     Incorrect credentials 
  <% end %>

  <form id="signup-form" method="get" action="/signup">
  </form>

<form id="login-form" method="post" action="/login">
  <div class="row" style='padding: 25px;'>
    <div class="col-md-3 col-xs-12">
      <label>Username:</label>
      <input type="text" name="username" required class="form-control">
    </div>
    <div class="col-md-3 col-xs-12">
      <label>Password:</label>
        <input type="password" name="password" class="form-control">
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
    <button form="login-form"type="submit" class='btn btn-danger'>Login</button>
    <button form="signup-form" type="submit" class='btn btn-danger'>Sign Up</button>
  </div>
</form>
<%end%>