

<% if session[:user_id] %>
  oops, <%=User.find(session[:user_id])[:username] %>
<a href="/logout">Logout</a>
<% else %>
  <h1 style='padding: 20px'> Login here!</h1>
  <% if @error %>
     Incorrect credentials 
  <% end %>

<form id="signup-form" method="get" action="/signup">
</form>
<div class='show-box' style='margin-right: 400px'>
<span class='textcolor'>
  <form id="login-form" class='inline-form' method="post" action="/login">
    <div class="row" style='padding: 25px;'>
      <div class="col-md-3 col-xs-12">
        <h3>Username:</h3>
        <input type="text" tabindex="1" name="username" required class="form-control">
      <button style='margin-top:20px' tabindex="3" form="login-form"type="submit" class='btn btn-danger'>Login</button>
      
      </div>
      <div class="col-md-3 col-xs-12">

        <h3>Password:</h3>
          <input type="password" tabindex="2" name="password" class="form-control">
          <button style='margin-top:20px; margin-left:-105px' tabindex="4" form="signup-form" type="submit" class='btn btn-danger'>Sign Up</button>
      </div>
    </div>

  </form>
</div>
<%end%>