

<h1 style='padding: 20px'>Signup!</h1>


<%if @error%>
  username already taken
<%end%>

<form method="post" action="/signup">
  <div class="row" style='padding: 25px;'>
    <div class="col-md-3 col-xs-12">
      <label>Desired Username:</label>
      <input type="text" name="username" required class="form-control">
    </div>
    <div class="col-md-3 col-xs-12">
      <label>Password:</label>
        <input type="password" name="password" class="form-control">
    </div>
  </div>


<div class="row" style="padding:25px;">
  <div class="col-md-3 col-xs-12">
    <button type="submit" class='btn btn-danger'>Sign Up</button>
  </div>
</div>

</form>